<!DOCTYPE html>
<html>
    <head>
        <title>BlogMap - Mappa</title>

        <!-- Meta -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap -->
        <link rel="stylesheet" href="css/bootstrap.css" type="text/css">

        <!-- CSS -->
        <link  href="css/stili-custom.css" rel="stylesheet" type="text/css">

        <!-- CSS Leaflet -->
        <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
        <script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>

        <!-- Javascript -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script type="text/javascript" lang="javascript" src="js/bootstrap.js"></script>
        <script type="text/javascript" lang="javascript" src="js/bootstrap.bundle.js"></script>
        <script type="text/javascript" lang="javascript" src="js/MappaJS.js"></script>

    </head>

    <!-- Menù -->
    <header>
        <nav id="navbar" class="navbar navbar-expand-lg navbar-dark bg-info fixed-top">
            <a class="navbar-brand" href="http://localhost:4000/Home">BlogMap</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="http://localhost:4000/Home">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="http://localhost:4000/miopiano">Pianificazione <span class="sr-only"></span></a>
                    </li>
                </ul>
            </div>
            <div>
                <div class="row">
                    <div class="col" id="FotoProfilo">
                        <img src="<%= FotoProfilo %>" width="40px"></img>
                    </div>
                    <div class="col">
                        <div class="dropdown">
                            <button class="btn btn-success dropdown-toggle" style="width: 200px;" type="button" id="dropdownMenuButton" data-toggle="dropdown"><span class="caret"></span><%= NomeProfilo %> <%= Cognome %></button>
                            <ul class="dropdown-menu" style="width: 200px;">
                                <li><a href="http://localhost:4000/logout">Esci</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <body class="text-center">
            
                <div>
                    <img id='sfondoMappa' src='Immagini/Prova.jpg'>
                </div>
                    <div>
                    <div id='mymap'> </div>
                    <script>
                        <%if(posti[0][0]!=''){%>
                            var map = L.map('mymap').setView([<%=posti[0][2]%>,<%=posti[0][3]%>], 13);
                            var OSM_layer =L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png',
                            {attribution: '&copy;<a href="http://osm.org/copyright">OpenStreetMap</a>'}).addTo(map);
                            <% for(var i=1;i<6;i++){%> 
                                <% if(typeof posti[i-1][0]!='undefined'){%>
                                    <% if(posti[i-1][0]!=''){ %>
                                        var pin_red<%=i;%> = L.icon({
                                        iconUrl: 'Immagini/Marker<%=i;%>.png',
                                        iconSize: [40, 40],
                                        });
                                        var marker<%=i;%>=L.marker([<%=posti[i-1][2];%>,<%=posti[i-1][3];%>], {icon: pin_red<%=i;%>}).addTo(map);
                                    <%}%>
                                <%}%>
                            <%}%>
                        <%}else{%>
                            var map = L.map('mymap').setView([41.890565,12.500284], 13);
                            var OSM_layer =L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png',
                            {attribution: '&copy;<a href="http://osm.org/copyright">OpenStreetMap</a>'}).addTo(map);
                        <%}%>

                    </script>
                         </div>
                           <% if(posti[0][0]!=""){%>
                                <div>
                                    <h2 id='titoloRisultati'>Il tuo piano</h2>
                                </div>
                                <% for(i=0;i<5;i++){%>

                                    <% if(typeof posti[i][0]!="undefined"){%>
                                        <% if(posti[i][0]!=''){ %>
                                            <div class="container bg-info" id="risultati">
                                                <div class="d-flex justify-content-center">
                                                    <img src="Immagini/Marker<%=i+1%>.png" height="35" width="35">
                                                        <h3> <%=posti[i][0]%></h3>
                                                </div>
                                                        <div class="row">
                                                            <div class="col" id="ProprietaMappa">
                                                                <b>Visiterai questo posto il giorno <%=posti[i][9]%> alle ore <%=posti[i][10]%></b><br>
                                                                <%=posti[i][4]%><br>
                                                                Rating Google: <%=posti[i][1]%><br>
                                                                Telefono: <%=posti[i][7]%><br>
                                                                Sito Web: <%=posti[i][8]%><br>
                                                            </div>
                                                            <%if(typeof posti[i][6]!='undefined'){%>
                                                                <div class="col">
                                                                            <div class="d-flex justify-content-end">
                                                                                <img class="imm" src="<%=posti[i][6]%>">
                                                                            </div>
                                                            <%}%>
                                                            </div>
                                                </div>
                                            </div>
                                        <% } else{ break; }%>
                                    <%}%>
                                <%}%>
                           <% }else{ %>
                                <div>
                                    <h2 id='titoloRisultati'>Nessuna pianificazione trovata</h2>
                                </div>
                            <%}%>

                        </div>
                        
        
        <!-- Footer -->
        <div class="footer-bar bg-info" id="footer2">
            <div id="immagineFooter2">
                <img src="Immagini/Logo.jpg" id="Logo">
                <br>
                <label>&copy;Blogmap 2020</label>
            </div>
            <div id="linkFooter2">
                <a href="http://localhost:4000/Chi_siamo" style="color: white;">Chi siamo</a>
                <br>
                <a href="http://localhost:4000/Contattaci" style="color: white;">Contattaci</a>
                <br>
                <a href="http://localhost:4000/FAQ" style="color: white;">FAQ</a>
            </div>
        </div>
    </body>
</html>
